@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#projControl {
  position: absolute;
  bottom: 10px;
  left: 100px;
  z-index: 1;
}

#styleControl {
  position: absolute;
  bottom: 10px;
  left: 230px;
  z-index: 1;
}

.landing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.landing.hidden {
  opacity: 0;
  visibility: hidden;
}

.landing h1 {
  font-family: 'Book Antiqua';
  font-size: 70px;
  text-align: left;
  margin-left: 15px;
  color: #ffffff;
  line-height: 1.5;
}

.category-buttons {
  display: flex;
  justify-content: left;
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: 2;
}

.category-button {
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 14px;
  color: gray;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.category-button:hover {
  opacity: 0.8;
}

.category-button.active {
  color: white; /* 활성 상태의 텍스트 색상 */
  font-weight: bold;
}

.mapboxgl-marker > div.myMarker {
  opacity: 0.7 !important;
}

#newsList {
  margin: 10px;
}

.newsIcon {
  background-color: transparent;
  color: gray;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.newsIcon i {
  font-family: 'Material Icons';
  font-size: 30px;
  vertical-align: middle; /* 아이콘 정렬 */
}

.news-items {
  list-style-type: none;
  padding: 10px;
  margin: 50px 0 10px 0;
  background-color: #d9d9d9;
  border:none;
  border-radius: 30%;
  border-radius: 5px;
  max-width: 400px;
  max-height: 800px;
  overflow-y: auto;
}

.news-items li {
  margin-bottom: 10px;
  border-bottom: 5px dotted whitesmoke;
}

.news-items li:last-child {
  border-bottom: none; /* 마지막 아이템에는 구분선 제거 */
}

.news-items li h3 {
  margin: 0;
  color: black;
  font-size: 16px;
}

.news-items li p {
  margin: 0;
  color: gray;
  font-size: 12px;
}

.news-items li a {
  color: #0074d9;
  text-decoration: none;
}

.news-items li:hover {
  text-decoration: underline;
}