body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#projControl {
  position: absolute;
  top: 10px;
  right: 120px;
  z-index: 3;
}

#styleControl {
  position: absolute;
  top: 10px;
  right: 270px;
  z-index: 3;
}

#projControl button, #styleControl select {
  background-color: lightgray;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 0 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.homeIcon {
  position: absolute;
  background-color: transparent;
  color: gray;
  border: none;
  cursor: pointer;
  top: 13px;
  right: 70px;
  z-index: 3;
}

.homeIcon i {
  font-family: 'Material Icons';
  font-size: 30px;
  vertical-align: middle;
}

.landing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.landing.hidden {
  opacity: 0;
  visibility: hidden;
}

.landing h1 {
  font-family: 'Book Antiqua';
  font-size: 70px;
  text-align: left;
  margin-left: 15px;
  color: #ffffff;
  line-height: 1.5;
}

.category-buttons {
  display: flex;
  justify-content: left;
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: 2;
}

.category-button {
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 14px;
  color: gray;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.category-button:hover {
  opacity: 0.8;
}

.category-button.active {
  color: white; /* 활성 상태의 텍스트 색상 */
  font-weight: bold;
}

.mapboxgl-marker > div.myMarker {
  opacity: 0.7 !important;
}

#newsList {
  margin: 10px;
}

.newsIcon {
  background-color: transparent;
  color: gray;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 6.5px;
  right: 10px;
  z-index: 2;
}

.newsIcon i {
  font-family: 'Material Icons';
  font-size: 30px;
  vertical-align: middle; /* 아이콘 정렬 */
}

.news-items {
  list-style: none;
  background-color: #d9d9d9;
  border-radius: 5px;
  padding: 0;
  margin-top: 50px;
  max-width: 600px;
  max-height: 800px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.news-items::-webkit-scrollbar {
  width: 8px;
  background-color: #d9d9d9;
  border-radius: 5px;
}

.news-items::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.news-items::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.news-items li {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 글div와 이미지div 양쪽 정렬 */
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 5px dotted whitesmoke;
}

.news-items li:last-child {
  border-bottom: none; /* 마지막 아이템에는 구분선 제거 */
}

.news-items-header {
  flex: 1;
}

.news-items li h3 {
  margin: 0;
  color: black;
  font-size: 16px;
}

.news-items li p {
  margin: 0;
  color: gray;
  font-size: 12px;
}

.news-items li a {
  color: #0074d9;
  text-decoration: none;
}

.news-items li:hover {
  text-decoration: underline;
}

.news-items-image {
  width: 100px;
  height: 100px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  overflow: hidden;
  position: relative;
}

.news-items-image img {
  display: block;
}

img {
  max-width: 150px;
  object-fit: cover;
  display: block;
}

.weekly-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  overflow: hidden;
  white-space: nowrap;
  z-index: 2;
  font-size: 16px;
  padding: 10px;
}

.weekly-news {
  display: inline-block;
  padding-left: 100%;
  animation: movingSummary 1500s linear infinite;
}

@keyframes movingSummary {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.mapboxgl-ctrl-logo {
  position: absolute !important;
  bottom: 50px !important;
  right: auto !important;
}

.mapboxgl-ctrl-attrib {
  bottom: 200px !important;
}