@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#projControl {
  position: absolute;
  top: 100px;
  left: 10px;
  z-index: 1;
}

#styleControl {
  position: absolute;
  top: 140px;
  left: 10px;
  z-index: 1;
}

.landing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.landing.hidden {
  opacity: 0;
  visibility: hidden;
}

.landing h1 {
  font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
  font-size: 70px;
  text-align: left;
  margin-left: 15px;
  color: #ffffff;
  line-height: 1.5;
}

.category-buttons {
  display: flex;
  justify-content: left;
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: 2;
}

.category-button {
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 14px;
  color: gray;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.category-button:hover {
  opacity: 0.8;
}

.category-button.active {
  color: white; /* 활성 상태의 텍스트 색상 */
  font-weight: bold;
}